.displayContent {
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px #333 inset;
    padding: 3% 5%;
    outline: none;
    margin-top: 100px;
}

.feature{
    h2 {
        font-size: 1.8em;
        margin-bottom: .7em;
    }
    a {
        color: #10589b;
    }
    
    .displayContent {
        text-align: left; // Căn nội dung bên trái
    }
    
    .bard-hello {
        text-align: left; // Căn tiêu đề bên trái
    }
    
    ul {
        padding-left: 20px; // Tạo khoảng cách bên trái cho danh sách
    }
    
    p {
        text-align: left; // Căn đoạn văn bản bên trái
    }
}


